

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://w7.pngwing.com/pngs/477/1005/png-transparent-user-computer-icons-logo-others-service-logo-computer-wallpaper.png"
  />
  <span>Bievenidos!</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <svg id="rocket" xmlns="http://www.w3.org/2000/svg" 
        width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Prueba Matriz</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" 
        transform="translate(141 696)" fill="#dd0031"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
        </g>
      </g>
    </svg>
    <!-- title -->
    <span>{{ title }}</span>

    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>

  </div>

  <!-- Resources -->
  <h2>Nuevo Usuario</h2>

  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Ingrese Nombre" [(ngModel)]="nombreUsuario">         
        </div>
    </div>
    <br>
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
          <input type="text" pInputText placeholder="Ingrese Apellidos" [(ngModel)]="apellidoUsuario">         
      </div>
    </div>
    <br>      
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-google"></i></span>
        <input type="email" pInputText placeholder="Ingrese Email" [(ngModel)]="emailUsuario">         
      </div>
    </div>
    <br>      
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
        <input type="number" pInputText placeholder="Ingrese Número de teléfono" [(ngModel)]="telefonoUsuario">         
      </div>
    </div>
    <br> 
    <div >
      <div >
        <p-dropdown [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Selecione la ciudad"></p-dropdown>
      </div>
    </div>
    <br> 
    <div >
      <div >
        <p-dropdown [options]="country" [(ngModel)]="selectedCountry" optionLabel="name" placeholder="Selecione el país"></p-dropdown>
      </div>
    </div>
    <br>      
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-save"></i></span>
        <p-button icon="pi pi-check" (click)="enviar()" label="Enviar información" >
        </p-button>       
      </div>
    </div>
</div>
  <!-- Next Steps -->
  <h2>Menu</h2>
  <p>What do you want to do next with your app?</p>
  <input type="hidden" #selection>
  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Consumir Api</span>
    </button>
  </div>
  <!-- Footer -->
  <footer>
      Registrar el Usuario {{todayWithPipe}}
  </footer>
</div>
<router-outlet></router-outlet>
